@charset "UTF-8";

/* typical device breakpoints
---------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) and (max-width:992px ) {
    section#login{
        width: 90vw;
    }

    section#login > div#imagem {
        float: left;
        width:40vw;
        height: 90vh;        
        background-position: left center;
    }

    section#login > div#formulario{
        float: right;
        width: 50vw;
        height: 90vh;
        display: block;
        text-align: justify;
    }
    
}